@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --navigation: #c3b6d8;
  --digital-single: #b6c5d0;
  --single-1: #eb2d41;
  --mini-1: #2bab5e;
  --single-2: #b2b1d9;
  --mini-2: #f0b903;
  --mylove: #d9d1e8;
  --digital-single-2: #7e9c59;
  --digital-single-3: #cbc9cc;
  --digital-single-4: #eaca38;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --background: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Pretendard", sans-serif;
}
